<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <title> Add Campaign</title>
        <script src="./static/bootstrap/js/bootstrap.js"></script>
        <script src="./static/bootstrap/css/bootstrap.css"></script>
        <script src="./static/jquery.min.js"></script>
        <script src="./static/messagecount.js"></script>
        <script src="./static/papaparse.min.js"></script>
        <script src="./static/custom.js"></script>
    </head>
    <body>
        <h1> Add New Campaign </h1>

        {% if error %}
        <p><strong> Error: </strong> {{error}}</p>
        {% endif %}

        <form id="add-campaign-form" action='added' method='POST' enctype='multipart/form-data'>
            <input type="hidden" name="campaign_id" value="{{id}}">
            <p><label><b>Campaign Title:</b></label>
            <input type="text" name="title" value="{{Campaign_title}}" required></p>
            <p><label><b>Campaign Message:</b></label>
            <textarea name="message" id="message">{{Campaign_messages}}</textarea>
            <p><span id="remaining">160</span>&nbsp;Character<span class="cplural">s</span> Remaining</p>
            <p>Total&nbsp;<span id="messages">1</span>&nbsp;Message<span class="mplural">s</span>&nbsp;<span id="total">0</span>&nbsp;Character<span class="tplural">s</span></p>
            <p><label><b>Choose csv file:</b></label>
            <input type='file' name='file' id="file"/></p>
            <p><label>Send Immediately:</label></p>
            <input type="radio" id='yes' name="schedule">
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="schedule">
            <label for="no">No</label>
            <p><label><b>Send Time</b>(Edit this only if you want to send later):</label>
            <input type="datetime-local" id="time" value="Now">Format: %Y-%m-%dT%H:%M:%S</p>
            <input type="hidden" name="data" id="hidden">
            <p><button type="submit" id="save">Save</button></p>
        </form>
    </body>
</html>

