<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <title> Add Campaign</title>
        <script src="./static/jquery.min.js"></script>
        <script src="./static/papaparse.min.js"></script>
        <script src="./static/custom.js"></script>
    </head>
    <body>
        <h1> Add New Campaign </h1>

        {% if error %}
        <p><strong> Error: </strong> {{error}}</p>
        {% endif %}

        <form id="add-campaign-form" action='added' method='POST' enctype='multipart/form-data'>
            <input type="hidden" name="campaign_id" value="{{id}}">
            <p><label><b>Campaign Title:</b></label>
            <input type="text" name="title" value="{{Campaign_title}}" required></p>
            <p><label><b>Campaign Message:</b></label>
            <textarea name="message" id="message">{{Campaign_messages}}</textarea>
            <p><span id="remaining">160</span>&nbsp;Character<span class="cplural">s</span> Remaining</p>
            <p>Total&nbsp;<span id="messages">1</span>&nbsp;Message<span class="mplural">s</span>&nbsp;<span id="total">0</span>&nbsp;Character<span class="tplural">s</span></p>
            <p><label><b>Choose csv file:</b></label>
            <input type='file' name='file' id="file"/></p>
            <p><label>Send Immediately:</label></p>
            <input type="radio" id='yes' name="schedule">
            <label for="yes">Yes</label>
            <input type="radio" id="no" name="schedule">
            <label for="no">No</label>
            <p><label><b>Send Time:</b></label>
            <input type="datetime-local" id="time" value="Null">Format: %Y-%m-%dT%H:%M:%S</p>
            <input type="hidden" name="data" id="hidden">
            <p><button type="submit" id="save">Save</button></p>
        </form>

    <script>
        $(document).ready(function(){
            function hasUnicode(str) {
                for (var i = 0, n = str.length; i < n; i++) {
                    if (str.charCodeAt( i ) > 255) { return true; }
                }
                return false;
            }

            // unescape(encodeURIComponent('जास')).length

            $('#message').keyup(function(){
                var message = $(this).val();
                var chars = message.length;

                // for (var i = 0, n = str.length; i < n; i++) {
                //     console.log(st)
                    if (hasUnicode(message)) {
                        part1Count = 70;
                        part2Count = 64;
                        part3Count = 67;
                        console.log(chars);
                    }else {
                        part1Count = 160;
                        part2Count = 146;
                        part3Count = 153;
                        console.log(chars);
                    }
                messages = 0;
                remaining = 0;
                total = 0;
                if (chars <= part1Count) {
                    messages = 1;
                    remaining = part1Count - chars;
                } else if (chars <= (part1Count + part2Count)) {
                    messages = 2;
                    remaining = part1Count + part2Count - chars;
                } else if (chars > (part1Count + part2Count)) {
                    moreM = Math.ceil((chars - part1Count - part2Count) / part3Count) ;
                    console.log('Apple');
                    console.log(moreM);
                    remaining = part1Count + part2Count + (moreM * part3Count) - chars;
                    messages = 2 + moreM;
                }
                // }


            $('#remaining').text(remaining);
            $('#messages').text(messages);
            $('#total').text(chars);
            if (remaining > 1) $('.cplural').show();
                else $('.cplural').hide();
            if (messages > 1) $('.mplural').show();
                else $('.mplural').hide();
            if (chars > 1) $('.tplural').show();
                else $('.tplural').hide();
        });
            $('#message').keyup();
        });
    </script>
    </body>
</html>

