<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <title>Campaign</title>

    </head>


    <body>
        <div class="camp">
            <h2><strong>Campaign</strong></h2>
            <form action='add' method="POST">
                <input class="btn" type="submit" value="NEW" />
                <a href='/logout'>Logout</a>
            </form>
        </div>
        <div class="main">
        <table>
            <tr>
                <th> Campaign Title </th>
                <th> Message </th>
                <th> Send DateTime </th>
                <th> Status</th>
                <th> Action </th>
            </tr>
        {% for campaign in campaigns %}
            <tr>
                <td> <a href="{{url_for('getContacts', campaign_details=campaign.id)}}">{{campaign.title}}</a></td>
                <td> {{campaign.message}}</td>
                <td> {{campaign.created}}</td>
                <td> {{campaign.status}}</td>
                <td> <a href="{{url_for('duplicate_camp', campaign_details=campaign.id)}}">Duplicate</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>

    </body>

</html>