<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <title>Campaign</title>

    </head>


    <body>
        <div class="camp">
            <h2><strong>Campaign</strong></h2>
            <form action='add' method="POST">
                <input class="btn" type="submit" value="NEW" />
            </form>
        </div>
        <div class="main">
        <table>
            <tr>
                <th> Campaign Title </th>
                <th> Message </th>
                <th> Send DateTime </th>

                <th> Duplicate </th>
            </tr>
        {% for campaign in campaigns %}
            <tr>
                <td> {{campaign.title}}</td>
                <td> {{campaign.message}}</td>
                <td> {{campaign.created}}</td>

                <td> Duplicate</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    </body>

</html>