<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>Campaign</title>

    </head>


    <body>
        <div class="camp">
            <h2><strong>Campaign</strong></h2>
            <form action='add' method="POST">
                <input class="btn" type="submit" value="NEW" />
            </form>
        </div>
        <div class="main">
        <table>
            <tr>
                <th> Campaign Title </th>
                <th> Message </th>
                <th> Send DateTime </th>
                <th> Status </th>
                <th> Duplicate </th>
            </tr>
        {% for campaign in campaigns %}
            <tr>
                <td> {{campaign.title}}</td>
                <td> {{campaign.message}}</td>
                <td> {{campaign.created}}</td>
                <td> {{campaign.status}}</td>
                <td> Duplicate</td>
                <!--<td> <a href="{{url_for('getnumber', number_details=campaign.id)}}">{{campaign.status}}</a></td>
                <td> <a href="{{url_for('new_campaign', new_details=campaign.id)}}">Duplicate</a></td>
                -->
            </tr>
        {% endfor %}
        </table>
    </div>

    </body>

</html>