<!DOCTYPE html>

<html>
    <head>
        <title>Contact Detail</title>
    </head>

    <body>
        <div class="main">
            <table>
                <tr>

                    <th>Contact Number</th>
                    <th>Status</th>
                </tr>
                {% for contact in contacts %}
                <tr>

                        <td>{{contact}}</td>

                        <td>{{validity}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>

</html>