<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <title>Contact Detail</title>
    </head>

    <body>
        <div class="main">

            {% for data in campaign %}
            <h1>{{data.title}}</h1>
            <h3>Campaign Message</h3>
            <p>{{data.message}}</p>
            <h3>Campaign Schedule Time</h3>
            <p>{{data.schedule}}</p>
            <h3>Campaign Status</h3>
            <p>{{data.status}}</p>
            {% endfor %}
            <h3>Campaign Contacts</h3>
            <table>
                <tr>

                    <th>Contact Number</th>
                    <th>Status</th>
                    <th>Type</th>
                </tr>
                {% for contact in contacts %}
                <tr>

                        <td>{{contact.number}}</td>
                        <td>{{contact.number_status}}</td>
                        <td>{{contact.status_type}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>

</html>