<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/style.css">
        <title>Contact Detail</title>
    </head>

    <body>
        <div class="main">
            <h2>Campaign Message</h2>
            {% for message in campaign %}
            <p>{{message.message}}</p>
            {% endfor %}
        <br/><br/>
            <h2>Campaign Contacts</h2>
            <table>
                <tr>

                    <th>Contact Number</th>
                    <th>Status</th>
                </tr>
                {% for contact in contacts %}
                <tr>

                        <td>{{contact}}</td>

                        <td>{{validity}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>

</html>